/* setting font and basic  variables */
:root{
    font-family: 'Roboto', sans-serif;

    --base1: #030201;
    --base2: #161413;
    --base3: #353331;
    --base4: #7e7c77;
    --accent1: #6F0B0B;
    --accent2: #8D0202;
    --accent3: #971919;
    --text: #FFFFFF;
    --grid: 'a a a'
            'b c c'
            'b c c';
    --grid-rows: 50px auto auto;
    --grid-columns: 240px auto auto;
    --gap: 1rem;
    --sidebarDirection: column;
}

/*changing the grid based on screen size to make it easier to display o mobile */
@media only screen and (max-width: 1200px){
    /*Tablets [701px -> 1200px]*/
    :root{
        --grid: 'a a a'
                'b c c'
                'b c c';
        --gap: 1rem;
        --grid-rows: 50px auto auto;
        --grid-columns: 240px auto auto;
    }
}
@media only screen and (max-width: 700px){
    /*Big smartphones [0px -> 700px]*/
    :root{
        --grid: 'a a'
                'c c'
                'c c'
                'd d'
                'b b';
        --gap: 0rem;
        --grid-rows: 50px auto auto 0 240px;
        --grid-columns: auto auto;
    }
}

/* basic html options */
html{
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: var(--base1);
    overflow: auto;
}

/* basic body options */
body{
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: var(--base1);
}

/* making default margins 0 */
div, form, li, ol, p, ul {
    margin: 0;
    padding: 0;
}

/* animations for the buttons in the top bar */
@keyframes triangleRotate {
     0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);
    }
}

@keyframes wiggle {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(30deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/* the grid layout for the pages, vars are used to make it dynamic */
.grid{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: grid;
    column-gap: var(--gap);
    row-gap: 1rem;
    /* Explicit grid */
    grid-template-areas: var(--grid);

    grid-template-rows: var(--grid-rows);
    grid-template-columns: var(--grid-columns);
}

/* cards are the elements placed in the grid */
.card {
    background: var(--base3);
    clear: both;
}

/* the top bar card */
.card:nth-child(1) {
    background-color: var(--base2);
    grid-area: a;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* the sidebar card */
.card:nth-child(2) {
    border-radius: 25px;
    grid-area: b;
    display: flex;
    flex-direction: var(--sidebarDirection);
    justify-content: start;
    align-items: center;
    padding: 10px;
}

/* the card in the middle, this one is changed most through the pages */
.card:nth-child(3) {
    background: var(--base1);
    grid-area: c;
}

/* these are the buttons on the top bar */
.button{
    height: 60%;
    background-color: var(--accent3);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

/* making the links on the buttons appear less link like */
.button a{
    text-decoration: none;
    color: var(--base2);
}

.button a:hover{
    text-decoration: none;
    color: var(--base3);
}

/* making the triangles in the buttons wiggle/rotate */
.button a:hover .triangle1{
    animation: wiggle 0.25s ease;
    animation-fill-mode: forwards;
}

.button a:hover .triangle2{
    animation: wiggle 0.25s ease;
    animation-fill-mode: forwards;
}

.button a:focus-within .triangle1{
    animation: triangleRotate 1s ease;
    animation-fill-mode: forwards;
}

.button a:focus-within .triangle2{
    animation: triangleRotate 1s ease;
    animation-fill-mode: forwards;
}

.button a:visited{
    text-decoration: none;
    color: var(--base2);
}

/* the dropdown menu */
.dropdown{
    position: absolute;
    width: 200px;
    opacity: 0;
    z-index: -1;

    background-color: var(--base2);
    color: var(--base4);

    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 6rem;
    margin-top: 8.1rem;
    padding: 0.5rem;

    transition: opacity .15s ease-out;

}

.dropdown a{
    text-decoration: none;
    color: var(--base4);
}

.dropdown a:hover{
    text-decoration: none;
    color: var(--base4);
}

.dropdown a:visited{
    text-decoration: none;
    color: var(--base4);
}

/* making buttons that have dropdowns actually open the dropdowns */
.has-dropdown:focus-within .dropdown{
    opacity: 1;
    pointer-events: auto;
    z-index: 2;
}

/* adding circles before the links in the dropdowns */
.dropdown-item a::before {
    content: '';
    border: 2px solid white;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

/* coloring the sidebar text */
.sidebarText{
    color: var(--base4);
    font-weight: bold;
}

iframe{
    border: 0;
}
