:root{
    font-family: 'Roboto', sans-serif;

    --base1: #030201;
    --base2: #161413;
    --base3: #353331;
    --base4: #7e7c77;
    --accent1: #6F0B0B;
    --accent2: #8D0202;
    --accent3: #971919;
}

.dark{
    --base1: #030201;
    --base2: #161413;
    --base3: #353331;
    --base4: #7e7c77;
    --accent1: #6F0B0B;
    --accent2: #8D0202;
    --accent3: #971919;
}

.light{
    --base1: #F6F6F6;
    --base2: #BAB9B7;
    --base3: #9C9B97;
    --base4: #7e7c77;
    --accent1: #A71111;
    --accent2: #C90303;
    --accent3: #D32222;
}

body, html{
    height: 100%;
    fill: var(--base1);
    background-color: var(--base1);
}


div, form, li, ol, p, ul {
    margin: 0;
    padding: 0;
}

.grid{
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    gap: 1rem;

    /* Explicit grid */
    grid-template-areas:
        'a a a'
        'b c c'
        'b c c';

    grid-template-rows: 50px auto auto;
    grid-template-columns: 240px auto auto;
}

.card {
    background: var(--accent1);
}

.card:nth-child(1) {
    background-color: var(--accent1);
    border-radius: 25px;
    grid-area: a;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card:nth-child(2) {
    border-radius: 25px;
    grid-area: b;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px;
}

.card:nth-child(3) {
    grid-area: c;
    opacity: 0;

    display: grid;
    grid-template-areas:
        'a a b'
        'c d d'
        'c d d';
}

.button{
    height: 60%;
    background-color: var(--accent3);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

.button a{
    text-decoration: none;
    color: var(--base2);
}

.button a:hover{
    text-decoration: none;
    color: var(--base3);
}

.button a:visited{
    text-decoration: none;
    color: var(--base2);
}

.dropdown{
    position: absolute;
    width: 150px;
    opacity: 0;
    z-index: 2;

    background-color: var(--base2);
    color: var(--base4);

    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 4rem;
    margin-top: 8.1rem;
    padding: 0.5rem;

    transition: opacity .15s ease-out;

}

.dropdown a{
    text-decoration: none;
    color: var(--base4);
}

.dropdown a:hover{
    text-decoration: none;
    color: var(--base4);
}

.dropdown a:visited{
    text-decoration: none;
    color: var(--base4);
}

.has-dropdown:focus-within .dropdown{
    opacity: 1;
    pointer-events: auto;
}

.dropdown-item a::before {
    content: '';
    border: 2px solid white;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.sidebarText{
    color: var(--base4);
    font-weight: bold;
}

.innerCard{
    background: var(--accent1);
    border-radius: 25px;
}

.innerCard:nth-child(1){
    grid-area: a;
}

.innerCard:nth-child(2){
    grid-area: b;
}

.innerCard:nth-child(3){
    grid-area: c;
}

.innerCard:nth-child(4){
    grid-area: d;
}