:root{
    --tab-height: 90%;
    scroll-padding: 100%;
}

@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 700px){
    /*Big smartphones [0px -> 700px]*/
    :root{
        --tab-height: 100%;
    }
}

.card{
    color: #FFFFFF;
}

.nav-tabs{
    display: flex;
    background: var(--accent1);
    color: #FFFFFF;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 4rem;
    min-height: 4rem;
    justify-content: space-evenly;
    align-items: center;
}

.highLightButton{
    background: var(--accent2);
}

.tabs{
    display: flex;
    flex-direction: column;
}

.tab {
    background: var(--base3);
    color: #FFFFFF;
    height: auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px ;
    display: block;
}

.displayNone{
    display:none
}

.code{
    overflow-x: scroll;
    width: 77vw;
}