/* setting page specific vars */
:root{
    --tab-height: 90%;
    scroll-padding: 100%;
}

/* changing tab height based on screen size */
@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 700px){
    /*Big smartphones [0px -> 700px]*/
    :root{
        --tab-height: 100%;
    }
}


/* setting the layout for the tab bar */
.nav-tabs{
    display: flex;
    color: #FFFFFF;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 4rem;
    min-height: 4rem;
    padding-left: 25px;
    justify-content: left;
    align-items: flex-end;
}

/* the tab buttons */
.tab-button{
    height: 60%;
    background-color: var(--accent3);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

/* making the links look less link like */
.tab-button a{
    text-decoration: none;
    color: var(--base2);
}

.tab-button a:hover{
    text-decoration: none;
    color: var(--base3);
}

.tab-button a:hover .triangle1{
    animation: wiggle 0.25s ease;
    animation-fill-mode: forwards;
}

/* the class for highlighting the selected button */
.highLightButton{
    background: var(--accent2);
}

/* layout for the box containing the tabs */
.tabs{
    display: flex;
    flex-direction: column;
}

/* the actual tab */
.tab {
    background: var(--base3);
    color: #FFFFFF;
    height: auto;
    border-radius: 25px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px ;
    display: block;
}


.tab a:visited{
    color: #FFFFFF;
}

/* the class for making tabs invisible */
.displayNone{
    display:none;
}

/* setting the layout and placement of code blocks */
.code{
    overflow-x: scroll;
    width: 77vw;
}